<div class="AfegirReserva">
<div class="row">
  <h1>Afegir Reserva</h1>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input ng-model="editNombre" id="editNombre" type="text" class="validate">
          <label class="active" for="editNombre">Nombre</label>
        </div>
      </div>   
      <div class="row"> 
        <div class="input-field col s6">
          <input ng-model="editContacto" id="editContacto" type="text" class="validate">
          <label class="active" for="editContacto">Contacto</label>
        </div>
      </div>
      <div class="row"> 
        <div class="input-field col s6">
          <input ng-model="editNumPersonas" id="editNumPersonas" type="text" class="validate">
          <label class="active" for="editNumPersonas">Numero de Personas</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s6">
            <select ng-model="editMenu" ng-options="menu.nombre for menu in menus track by menu._id">
                <option value="">-- Escoge el menu --</option>
            </select>              
          </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <calendarinou></calendarinou>
        </div>
        <div class="input-field col s6">
            <select ng-model="editTurno" ng-disabled="!editDia"ng-options="turno.nombre for turno in turnos track by turno._id">
                <option value="">-- Escoge el turno --</option>
            </select> <h4><p class="label label-primary" ng-if="editTurno" ng-disabled="!editTurno"> Numeros de plazas: {{plazas}}</p></h4>
        </div>
    </div>
      <div class="row"> 
        <div class="input-field col s6">
          <input ng-model="editImporte" id="editImporte" type="text" class="validate">
          <label class="active" for="editImporte">Importe</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" ng-click="updateReserva()">Editar Reserva
          <i class="mdi-content-send right"></i>
        </button>
      </div>
    </form>
  </div>
</div>
