<div class="AfegirReserva">
<div class="row">
  <h1>Afegir Reserva</h1>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input ng-model="Nombre" id="Nombre" type="text" class="validate">
          <label for="Nombre">Nombre</label>
        </div>
      </div>   
      <div class="row"> 
        <div class="input-field col s6">
          <input ng-model="Contacto" id="Contacto" type="text" class="validate">
          <label for="Contacto">Contacto</label>
        </div>
      </div>
      <div class="row"> 
        <div class="input-field col s6">
          <input ng-model="NumPersonas" id="NumPersonas" type="text" class="validate">
          <label for="NumPersonas">Numero de Personas</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s6">
            <select ng-model="Menu" ng-options="menu.nombre for menu in menus track by menu._id" repeat-done="marc()">
                <option value="">-- Escoge el menu --</option>
            </select>              
          </div>
          <div class="col s6">
            <div ng-show="Menu" class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">{{Menu.nombre}}</span>
                <p>{{Menu.primeros}}</p>
                <p>{{Menu.segundos}}</p>
                <div class="row">
                  <div class="col s2">
                    <p>{{Menu.precio}}</p>
                  </div>
                  <div class="col s4">
                    <img class="img-thumbnail" ng-src="api/imagenesmenus/120/{{Menu.imagen}}">
                  </div>
                </div>  
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <calendarinou></calendarinou>
        </div>
        <div ng-show="mostrar" class="input-field col s6">
            <select ng-model="Turno" ng-options="turno.nombre for turno in turnos track by turno._id">
                <option value="">-- Escoge el turno --</option>
            </select> <h4><p class="label label-primary" ng-if="Turno" ng-disabled="!Turno"> Numeros de plazas: {{plazas}}</p></h4>
        </div>
    </div>
      <div class="row"> 
        <div class="input-field col s6">
          <input ng-model="Importe" id="Importe" type="text" class="validate">
          <label class="active" for="Importe">Importe</label>
        </div>
      </div>
      <div class="row" ng-show="!currentUser"> 
        <div class="input-field col s6">
          <input ng-model="Email" id="Email" type="text" class="validate">
          <label class="active" for="Email">Email</label>
        </div>
        <div class="input-field col s6">
          <button class="btn waves-effect waves-light" ng-click="EnviarCodigo()">Enviar Codigo
            <i class="mdi-content-send right"></i>
          </button>
        </div>
      </div>
      <div class="row" ng-show="!currentUser">
        <div class="col s6">
          <p>Para Evitar creaciones masivas de Reserva debe introducir su email donde recibira el codigo de validacion para seguir con su reserva.</p>
        </div>
      </div>
      <div class="row" ng-show="!currentUser"> 
        <div class="input-field col s6">
          <input ng-model="Codigo" id="Codigo" type="text" class="validate">
          <label class="active" for="Codigo">Codigo</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" ng-click="afegirReserva()">Afegir Reserva
          <i class="mdi-content-send right"></i>
        </button>
      </div>
      <div class="row">
        <div class="col s6">
          <p>Informamos que una vez entrados los datos la informacion se almacena en una base de datos temporal.</p>
        </div>
      </div>
    </form>
  </div>
</div>
