<div class="row">
    <div class="col s1">
        <calendarillista repeat-done="cogerDias()"></calendarillista>   
    </div>
    <div class="col s8 offset-s3">
        <div class="row">
            <div ng-repeat="reserva in reservasm">
                <div class="col s6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{reserva.nombre}}</span>
                            <p>{{reserva.contacto}}</p>
                            <p>{{reserva.menu.nombre}}</p>
                            <p>{{reserva.numpersonas}}</p>
                            <div ng-if="dia._id == reserva.dia" ng-repeat="dia in disps">
                                {{dia.dia | date : "dd/MM/yyyy"}}
                            </div>
                            <p>{{reserva.turno}}</p>
                            <p>{{reserva.importe}} €</p>
                        </div>
                        <div class="card-action">
                          <a ng-if="currentUser" ng-show="missatge.username ==currentUser.username || currentUser.username =='admin'" ng-click="editarReserva(reserva)">Editar</a>
                          <a ng-if="currentUser" ng-show="missatge.username ==currentUser.username || currentUser.username =='admin'" ng-click="eliminarReserva(reserva)">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>