<h1>Dies</h1>
    <div class="LlistaDisp">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="disp in disps ">
                <p>{{disp.dia | date: 'dd-MM-yyyy'}}</p>
                <div ng-repeat="turnos in disp.turno">
                    <p>{{turnos.nombre}}<span>   {{turnos.plazas}}</span></p>
                </div>
                <!--<p ng-if="currentUser" class="btn btn-success btn-lg" ng-show="missatge.username ==currentUser.username || currentUser.username =='admin'" ng-click="editarDisp(disp)">Editar</p
                <p ng-if="currentUser" class="btn btn-success btn-lg" ng-show="missatge.username ==currentUser.username || currentUser.username =='admin'" ng-click="eliminarDisp(disp)">Esborrar</p>-->
                <p class="btn btn-success btn-lg" ng-click="editarDisp(disp)">Editar</p>
                <p class="btn btn-success btn-lg" ng-click="eliminarDisp(disp)">Esborrar</p>
            </li>
        </ul>
    </div>