    <div class="Editardia" role="form">
        <div class="form-group">
           <h1>Editar Autor</h1>
            <div class="input-group">
               <label class="">Dia</label>
                <input ng-model="editDia" class="form-control"/>
                <br>
                <label class="">Plazas</label>
                <input ng-model="editPlazas" class="form-control"/>
                <br>
                    <button class="btn btn-success btn-lg" ng-click="updateDisp()">Guardar Dia</button>
            </div>
        </div>
    </div>