<div class="row">
    <div class="col s6">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input ng-model="dies" id="dies" type="text" class="validate">
          <label for="dies">Dias del Mes</label>
        </div>
      </div> 
      <div class="row">
        <div class="input-field col s6">
          <input ng-model="mes" id="mes" type="text" class="validate">
          <label for="mes">Mes</label>
        </div>
      </div> 
      <div class="row">
        <div class="input-field col s6">
          <input ng-model="ano" id="ano" type="text" class="validate">
          <label for="ano">Año</label>
        </div>
      </div> 
      <div class="row">
        <button class="btn waves-effect waves-light" ng-click="afegirMes(dies,mes,ano)">Afegir Mes
          <i class="mdi-content-send right"></i>
        </button>
      </div>
    </form>
    </div>
</div>