<div class="row">
    <div class="col s12">
        <h2>Afegir Imatge</h2>
    </div>
    <div class="col s12">
        <div class="row">
            <div class="col s6">
                <div class="input-field col s6">
                  <input ng-model="titol" id="Nombre" type="text" class="validate">
                  <label for="Nombre">Nombre</label>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col s6">
                <div class="input-field col s6">
                  <input ng-model="descripcio" id="Descripcion" type="text" class="validate">
                  <label for="Descripcion">Descripcion</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="file-field input-field">
                  <input class="file-path validate" type="text"/>
                  <div class="btn">
                    <span>File</span>
                    <input type="file" nv-file-select uploader="uploader"/>
                  </div>
                </div>
                <ul class="collection" >
                    <li ng-repeat="item in uploader.queue" class="collection-item">
                        <div>Name: <span ng-bind="item.file.name"></span></div>
                        <a class="secondary-content" ng-click="item.upload()"><i class="mdi-content-send"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>