<h2>Text Descripcio</h2>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea ng-model="inicio[0].informacion" id="textarea1" class="materialize-textarea"></textarea>
          <label class="active" for="textarea1">Informacion</label>
        </div>
        <div class="col s6">
          <a ng-click="ModificarInformacion()" class="btn btn-danger btn-xs ng-scope">Guardar</a>
        </div>
        <div class="col s6">
          <a href="/#/noudia" class="btn btn-danger btn-xs">Crear Nou Mes</a></li>
        <br>
      </div>
      </div>
    </form>
  </div>

<h2>Imagenes Slider Principal</h2>
<div class="row">
  <div class="col s6">
  <a href="/#/cargarimagenes" class="btn btn-danger btn-xs">Cargar Imagenes</a></li>
  <br>
  </div>
<div ng-repeat="imatge in imatges">
    <div class="card col s12">
        <div class="row">
            <div class="card-content">
                <div class="col s6"><img ng-src="api/imatges/320/{{imatge._id}}"></div>
                <div class="col s6">
                    <h4><p class="card-title">{{imatge.titol}}</p></h4>
                    <p>{{imatge.descripcio}}</p>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="card-action">
              <a ng-click="eliminarImatge(imatge)">Eliminar Imatge</a>
            </div>            
        </div>
    </div>
</div>    
</div>
