<!doctype html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/jsDatePick_ltr.min.css" type="text/css" />
</head>
<body ng-app='ReservasOnline' ng-controller="ApplicationController">
<div class="container">

<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">El Trull de ca l'Arrufat</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/#/noureserva">Nova Reserva</a></li>
        <li><a ng-if="currentUser" href="/#/reservas">Reservas</a></li>
        <li><a href="/#/menus">Menus</a></li>
        <li><a ng-if="!currentUser" href="/#/login">Login</a></li>
        <li><a ng-if="currentUser" href="/#/administracion">Administracion</a></li>
        <li><a ng-if="currentUser" ng-click="logout()"class="btn btn-danger btn-xs">Desconnectar</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/#/noureserva">Nova Reserva</a></li>
        <li><a ng-if="currentUser" href="/#/reservas">Reservas</a></li>
        <li><a href="/#/menus">Menus</a></li>
        <li><a ng-if="!currentUser" href="/#/login">Login</a></li>
        <li><a ng-if="currentUser" href="/#/administracion">Administracion</a></li>
        <li><a ng-if="currentUser" ng-click="logout()"class="btn btn-danger btn-xs">Desconnectar</a></li>
      </ul>
    </div>
  </nav>
    <div ng-view=""></div>
</div>
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/angular/angular.min.js"></script>
<script src="js/angular/angular-resource.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-sanitize.js"></script>
<script src="js/angular/angular-cookies.min.js"></script>
<script src="js/angular/angular-route.min.js"></script>
<script src="js/angular/angular-file-upload.min.js"></script>
<script src="js/jsdatepick-calendar/jsDatePick.full.1.3.js"></script>
<script src="js/app.js"></script>
<script>$(".button-collapse").sideNav();</script>
</body>
</html>
