    <div class="row">
      <div class="col s12">
        <div class="card-panel valign-wrapper">
          
          <p ng-bind-html="inicio[0].informacion | nl2br"></p>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="card-panel">
            <div slider class="slider">
                <ul class="slides">
                  <li ng-repeat="imatge in imatges"  repeat-done="layoutDone()">
                    <img ng-src="api/imatges/og/{{imatge._id}}">
                    <div class="caption center-align">
                        <h3>{{imatge.titol}}</h3>
                        <h5 class="light grey-text text-lighten-3">{{imatge.descripcio}}</h5>
                    </div>
                  </li>
              </div>
        </div>
        <div class="card-panel">
          <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1150.3362429636231!2d2.8976694344961267!3d42.24517261475978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ba93aed694625d%3A0xb8edbe4dfb9270b1!2s17741+Taravaus%2C+Gerona!5e1!3m2!1ses!2ses!4v1433250629689" width="600" height="450" frameborder="0" style="border:0"></iframe></center>
          
        </div>
      </div>
    </div>