<h1>Editar Menu</h1>
<div class="row"> 
    <div class="input-field col s6">
        <input ng-model="editNombre" id="editNombre" type="text" class="validate">
        <label class="active" for="editNombre">Nombre</label>
    </div>
</div>
<div class="row"> 
    <div class="input-field col s6">
        <input ng-model="editPrimeros" id="editPrimeros" type="text" class="validate">
        <label class="active" for="editPrimeros">Primeros</label>
    </div>
</div>
<div class="row"> 
    <div class="input-field col s6">
        <input ng-model="editSegundos" id="editSegundos" type="text" class="validate">
        <label class="active" for="editSegundos">Segundos</label>
    </div>
</div>
<div class="row"> 
    <div class="input-field col s6">
        <input ng-model="editPrecio" id="editPrecio" type="text" class="validate">
        <label class="active" for="editPrecio">Precio</label>
    </div>
</div>
<div class="row">
    <button class="btn waves-effect waves-light" ng-click="updateMenu()">Editar Menu
        <i class="mdi-content-send right"></i>
    </button>
</div>