<div class="row">
<h1>Menus</h1>
    <div ng-repeat="menu in menus">
        <div class="col s9">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{menu.nombre}}</span>  
                <p>{{menu.primeros}}</p>
                <p>{{menu.segundos}}</p>
                <div class="row">
                  <div class="col s6">
                    <p>{{menu.precio}}</p>
                  </div>
                  <div class="col s6">
                    <img class="img-thumbnail" ng-src="api/imagenesmenus/320/{{menu.imagen}}">
                  </div>
                </div>  
                  
            </div>
            <div class="card-action">
              <a ng-if="currentUser" ng-show="missatge.username ==currentUser.username || currentUser.username =='admin'" ng-click="editarMenu(menu)">Editar</a>
              <a ng-if="currentUser" ng-show="missatge.username ==currentUser.username || currentUser.username =='admin'" ng-click="eliminarMenu(menu)">Esborrar</a>
            </div>
          </div>
        </div>
    </div>
</div>