<div class="row">
    <div class="col s6">
        <div class="input-field col s6">
            <input ng-model="nombre" id="Nombre" type="text" class="validate">
            <label for="Nombre">Nombre</label>
        </div>
    </div>
</div>  
<div class="row">
    <div class="col s6">
        <div class="input-field col s6">
            <input ng-model="primeros" id="Primeros" type="text" class="validate">
            <label for="Primeros">Primeros</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <div class="input-field col s6">
            <input ng-model="segundos" id="Segundos" type="text" class="validate">
            <label for="Segundos">Segundos</label>
        </div>
    </div>
</div> 
<div class="row">
    <div class="col s6">
        <div class="input-field col s6">
            <input ng-model="precio" id="Precio" type="text" class="validate">
            <label for="Precio">Precio</label>
        </div>
    </div>
</div> 

<div class="input-control file">
    <input type="file" nv-file-select uploader="uploader"/>
    <button class="btn-file"></button>
</div>
<ul>
    <li ng-repeat="item in uploader.queue">
        Name: <span ng-bind="item.file.name"></span><br/>
        <button ng-click="item.upload()">upload</button>
    </li>
</ul>
</div>